/*
 CSS stylesheet for KOTH Tournament web tool
 Author: Henri Ikonen
 Version: 1.0.0
*/

/*Color scheme:
 * #96BAC3 Very Light blue, text
 * #53B3C9 Highlight Blue, Highlight areas
 * #219AB6 Base color blue, Headers 
 * #0D3C47 Dark Blue 1 Form background
 * #08252B Dark Blue 2 
 * #191919 Dark Grey, Site Background
*/

/* Table of contents */
/*
 * 0 Imports
 * 1 Body & Text
 * 2 Form Styling
 * 3 Tournament Page Styling
 */

/* 0 Imports */

@import url('https://fonts.googleapis.com/css?family=Maven+Pro:700|Titillium+Web:300');

/* 1 Body & Text */

body {
    background-color: #191919;
    font-family: 'Titillium Web', sans-serif;
    color: #96BAC3;
    margin: 50px auto;
    width: 1000px;
}

h1,h2,h3 {
    font-family: 'Maven Pro', sans-serif;
    color: #219AB6;
}

.css-subtext {
    display: inline-block;
    color: #219AB6;
    max-width: 400px;
    white-space: nowrap;
    margin-left: 20px;
    background-color: #0f0f10;
    position: absolute;
    padding: 0px 10px;
    border-radius: 6px;
    top: -3px;
}

.css-subtext:before {
    content: "";
    display: inline;
    width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-right: 15px solid #0f0f10;
	border-bottom: 6px solid transparent;
    position: absolute;
    left: -15px;
    top: 10px;
}

/* 2 Form Styling */

.css-form-new-tournament, .css-form-get-tournament {
    
    border: 2px solid #0D3C47;
    border-radius: 8px;
    padding: 20px 20px;
    
}

input[type=text], input[type=email], input[type=password], textarea {
    font-family: 'Maven Pro', sans-serif;
    border: 1px solid #0D3C47;
    border-radius: 0px;
    background-color: #0D3C47;
    color: #219AB6;
    display: inline-block;
    margin-bottom: 20px;
    padding-left: 2px;
    outline: none;
}

label {
    position:relative;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus{
   border: 1px solid #219AB6;
}

form span{
    display: block;
}

input[type=submit] {
    font-family: 'Maven Pro', sans-serif;
    border: 2px solid #53B3C9;
    border-radius: 0px;
    background-color: #0D3C47;
    color: #219AB6;
    padding: 10px 20px 10px;
    margin-top: 20px;
}

input[type=submit]:hover {
    background-color: #219AB6;
    color:#0D3C47;
}

textarea {
    width: 550px;
    height: 300px;
}

input[name=newTournament] {
    
}

/* 3 Tournament Page Styling */

.css-share {
    font-size: 80%;
    margin-bottom: 0px;
    position: absolute;
    top: -85px;
}

.css-link {
    color:#219AB6;
    border:2px solid #219AB6;
    padding: 5px 10px;
    margin: 0px 0px;
    white-space: nowrap;
    display:inline-block;
    position: absolute;
    top: -50px;
}

.css-list-contenders, .css-list-streaks {
    
    list-style: none;
    padding-left: 0;
    
}

.css-notification {
    color: grey;
    list-style: none;
    max-width: 250px;
}

.css-div-tournament{
    display: grid;
    padding: 0px 0px ;
    border: 2px solid #0D3C47;
    border-radius: 8px;
    margin-top: 100px;
    position: relative;
    grid-template-columns: [first] 1fr [second] 1fr [third] 1fr [fourth] 1fr [fifth] 1fr [sixth];
    grid-template-rows: [first] 300px [second] 1fr [third];
}

.css-div-info, .css-div-champion, .css-div-contenders, .css-div-streaks{
    padding: 5px 5px ;
    border: 2px hidden #0D3C47;
}

.css-form-manage {
    position: absolute;
    top: 4px;
    left: 400px;
}

.css-div-info{
    border-right: 2px solid #0D3C47;
    padding: 0px 20px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.css-div-champion{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    text-align: center;
    position: relative;
}

#div-leaderboards-buttons{
    position: absolute;
    top: 25px;
    right: 25px;
}

.css-button-leaderboards-toggle{
    padding-left: 2px;
    color: #0D3C47;
    border-style: none;
    background: none;
    transition: 0.3s;
}

.css-button-leaderboards-toggle:hover{
    cursor: pointer;
    color: #96BAC3;
}

.css-button-leaderboards-toggle.current{
    cursor: pointer;
    color: #219AB6;
}

.css-button-leaderboards-toggle:focus, .css-button-leaderboards-toggle:active {
    outline: 0;
}

.css-div-leaderboards{
    /* height: 500px;*/
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
    padding: 30px 30px 10px 30px;
    border-top: 2px dashed #0D3C47;
    white-space: nowrap;
}

.tab-content {
    display:none;
}

.tab-content.current{
    display:inherit;
}

.css-player-name {
    display: inline-block;
    margin: 0;
}
